#content {
    width: max(100%, 1000px);
}

#graphSelect {
    width: 20%;
    height: max(40vh, 280px);
    border: 1px solid #000000;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float:left;
}

.graphSelector {
    width: 80px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: white; 
    color: black; 
    border: 2px solid #000000;
}

.graphSelector:hover {
    background: lightgrey!important; 
}

#graphs {
    padding: 0;
    width: 80%;
    height: max(40vh, 280px);
    border: 1px solid #000000;
    box-sizing:border-box;
    float:left;
}

.graph {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#controls {
    width: 100%;
    height: max(40vh, 280px);
    box-sizing:border-box;
    float:left;
}

.graphControl {
    position: relative;
    width: 20%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    float:left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

input[type=range][orient=vertical] {
    appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 8px;
    height: 80%;
    padding: 0 5px;
}

.graphController {
    position: relative;
    left: 10%;
    width: 50px;
    border: none;
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: white; 
    color: black; 
    border: 2px solid #000000;
}

.volume {
    position: absolute;
    top: 10%;
    right: calc(-25px + 20%);
}

.volLabel {
    position: absolute;
    bottom: 10px;
    right: calc(-25px + 20%);
}

.gain {
    position: absolute;
    top: 10%;
    right: calc(20% + 15px);
}

.gainLabel {
    position: absolute;
    bottom: 10px;
    right: calc(20% + 9px);
}

.pan {
    position: absolute;
    top: 10%;
    right: calc(55px + 20%);
}

.panLabel {
    position: absolute;
    bottom: 10px;
    right: calc(55px + 20%);
}
