#content {
    width: max(100%, 1260px);
}

[aria-pressed="true"] {
  box-shadow: inset 0 0 0 0.15rem #000, 
              inset 0.25em 0.25em 0 #fff;
}

#graphSelect {
    width: 20%;
    height: max(40vh, 280px);
    border: 1px solid #000000;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float:left;
}

.graphSelector {
    width: 80px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: white; 
    color: black; 
    border: 2px solid #000000;
}

button {
    font-weight: bold;
}

button:hover {
    background: lightgrey!important; 
}

#graphs {
    padding: 0;
    width: 80%;
    height: max(40vh, 280px);
    border: 1px solid #000000;
    box-sizing:border-box;
    float:left;
}

.graph {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#controls {
    width: 100%;
    height: max(40vh, 280px);
    box-sizing:border-box;
    float:left;
}

.graphControl {
    position: relative;
    width: 20%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    float:left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

input[type=range][orient=vertical] {
    appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 8px;
    height: 80%;
    padding: 0 5px;
}

.graphController {
    position: relative;
    left: calc(10% - 9px);
    width: 50px;
    border: none;
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: white; 
    color: black; 
    border: 2px solid #000000;
}

.pan {
    position: absolute;
    top: 10%;
    right: calc(97px + 20%);
}

.panLabel {
    position: absolute;
    bottom: 10px;
    right: calc(97px + 20%);
}

.panPos {
    position: absolute;
    right: calc(82px + 20%);
}

.panLeft {
    position: absolute;
    bottom: calc(9.5%);
}

.panCenter {
    position: absolute;
    bottom: calc(47%);
}

.panRight {
    position: absolute;
    top: calc(10.5%);
}

.gain {
    position: absolute;
    top: 10%;
    right: calc(20% + 40px);
}

.gainLabel {
    position: absolute;
    bottom: 10px;
    right: calc(20% + 34px);
}

.gain-inf {
    position: absolute;
    bottom: calc(9.4%);
    right: calc(20% + 17px);
}

.gain-60 {
    position: absolute;
    bottom: calc(13%);
    right: calc(20% + 13px);
}

.gain-48 {
    position: absolute;
    bottom: calc(18.5%);
    right: calc(20% + 13px);
}

.gain-36 {
    position: absolute;
    bottom: calc(24.5%);
    right: calc(20% + 13px);
}

.gain-23_5 {
    position: absolute;
    bottom: calc(32.3%);
    right: calc(20% + 3px);
}

.gain-13_5 {
    position: absolute;
    bottom: calc(39.5%);
    right: calc(20% + 3px);
}

.gain-3 {
    position: absolute;
    top: calc(42.2%);
    right: calc(20% + 23px);
}

.gain0 {
    position: absolute;
    top: calc(31.3%);
    right: calc(20% + 28px);
}

.gain3 {
    position: absolute;
    top: calc(19.9%);
    right: calc(20% + 28px);
}

.gain10_5 {
    position: absolute;
    top: calc(10.3%);
    right: calc(20% + 8px);
}

.volume {
    position: absolute;
    top: 10%;
    right: calc(-17px + 20%);
}

.volLabel {
    position: absolute;
    bottom: 10px;
    right: calc(-17px + 20%);
}

.vol0 {
    position: absolute;
    bottom: calc(9.5%);
    right: calc(-30px + 20%);
}

.vol50 {
    position: absolute;
    bottom: calc(47%);
    right: calc(-37px + 20%);
}

.vol100 {
    position: absolute;
    top: calc(10.5%);
    right: calc(-43px + 20%);
}